$colors: (
    primary-color: #FCA61E,
    secondary-color: #07003B,
    purple: #38325E,
    gray: #9098B1,
    soft-orange: #FFF0E1,
    soft-green: #BCE6D8,
    soft-purple: #E2E7FD,
    off-white: #F5F5F7,
    white: white,
    black: black
)